*{
  margin:0;
  padding:0;
  
}
a{
  text-decoration:none;
}

.bookshelf-background{
  height: 90vh;
  background-image: url('booksBackground.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.bookpage-background{
  height: 90vh;
  background-image: url('bookpages.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

nav{
  background-color: rgb(41, 16, 16);
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}
input{
  border-radius:10px;
  padding: 5px;
  font-size:1.25em;
  height:10%;
  width:20vw;
  outline:none;
}
textarea{
  border-radius:10px;
  padding: 10px;
  outline:none;

}

.nav-top-left{
  display: flex;
  flex-direction:row;  
  height:95px;
  width: 13%;
}

.nav-top-left img{
margin: 0 5%;
}

nav img{
  height:87px;
  margin: 0 2%;
  align-self: center;
}
.nav-top-left ul{
  width:100vw;
  height:100%;
  display:flex;
  align-content:center;
  
}
.nav-top-left ul li{
  margin: 5% 5%;
  display:inline-block;
  list-style:none;  
  display:flex;
}

ul li .link{
  color:rgb(160, 142, 110);
  text-decoration: none;
  font-size: 2em;
  display:flex;
  align-self: center;
  
}
ul li .link:hover{
  color:rgb(216, 162, 47);
}
ul li img{
  
  text-decoration: none;
  margin:0;
  display:flex;
  align-self: center;
  height:50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 3px;
  background-color:rgb(41, 16, 16);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: rgb(160, 142, 110);
  padding: 39%;
}

.drop-down-styles{
  display:flex;
  flex-direction:column;
  align-content: center;
  right: 0;
  width: 278px;
  height: 141px;
}

.drop-items {
  font-size: 1.5em;
  text-decoration: none;
  color: rgb(160, 142, 110);
  margin: 10%;
  text-align:center;
} 
.drop-items:hover{
  color: rgb(216, 162, 47);
}

.authBox{
  display:flex;
  align-items:center;
  justify-content: space-around;
  height: 90.5vh;
  background-image: url('booksBackground.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  display: flex;
}

.auth-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px black solid;
  border-radius:20px;
  height: 55vh;
  width: 28vw;
  font-size:2em;
  padding: 5vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color:rgb(41, 16, 16);
  color: rgb(160, 142, 110)
}

.input-text{
  background-color: rgb(168, 156, 133);
  border:none;
}

hr{
  border-color:rgb(160, 142, 110);
  width: 70%;
}
.button{
  /* width:300px; */
  color: rgb(160, 142, 110);
  background-color: rgb(41, 16, 16);
  margin:1%;
  font-size:100%;
  border-radius: 20px;
  border: rgb(160, 142, 110) solid 1px;
  outline:none;
}

.button:hover{
  color:  rgb(41, 16, 16);
  background-color:rgb(160, 142, 110);
}

.button-drop{
 width:100%;
 margin: 5% 0;
 color: rgb(160, 142, 110);
 background-color: rgb(41, 16, 16);
 border-radius: 10%;
 width:50%;
 align-self:center;
 border: rgb(160, 142, 110) solid 1px;
}

.button-drop:hover{
  background-color:rgb(160, 142, 110);
  border: rgb(41, 16, 16) solid 1px;
}

.underButton{
  width: 40%;
  height: 10%;
  font-size: 15px;
  text-align:center;
}
.myProjects{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height:520px;
  width: 82vw;
  overflow-y: scroll;
  margin-bottom:2%;
  margin: 8% 9% 2% 9%;
}


.ex-button{
  background-color: rgb(41, 16, 16);
  width:70px;
  height:70px;
  border-radius: 100%;
  color: rgb(160, 142, 110);
  font-size:3em;
  border: none;
  outline:none;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.ex-button:hover{
  color:  rgb(41, 16, 16);
  background-color:rgb(160, 142, 110);
}
.plus-button {
  background-color: rgb(41, 16, 16);
  width:100px;
  height:100px;
  border-radius: 100%;
  color: rgb(160, 142, 110);
  font-size:80px;
  border: none;
  outline:none;
  justify-content: center;
  align-items: center;
  margin: 0 47%;
}
.plus-button:hover{
  background-color:  rgb(160, 142, 110);;
  color: rgb(41, 16, 16);
}
 .popup-back{
  background-color: rgba(251, 248, 248, 0.438);
  position: absolute;
  flex-direction:column;
  top: 9.5vh;
  width: 100vw;
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .form-section{
   display:flex;
   justify-content: space-between;
   width: 300px;
 }
 .checkbox {
  width: 30px;
  height: 30px;
 }
 select{
  background-color:rgb(160, 142, 110);
  color: rgb(41, 16, 16);
  border-radius:20px;
  border:solid 1px rgb(41, 16, 16);
  box-shadow: none;
  height:30px;
 }
 option:hover{
   background-color:rgb(41, 16, 16)
 }

 .projectCards{
  background-color: rgb(41, 16, 16);
  width: 20vw; 
  font-size:1.5em;
  margin: 30px;
  padding: 30px;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-around;
  color: rgb(160, 142, 110);
  text-decoration: none;
}
.projectCards h3 p{
  box-shadow: none;
  text-decoration:none !important;
  max-height: 90%;
  max-width:30%;
  overflow: scroll;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.projectCards h3 {
  margin-bottom: 30px;
}
.projectCards p {
  overflow-y: scroll;
  max-height: 300px;
  font-weight:500;
}

.projectCards:hover{
  background-color: rgb(160, 142, 110);
  color:rgb(41, 16, 16)
}

.project-editor{
  height:90.5vh;
  display:flex;
  flex-direction:row;
  width:100%;
}

.editable-block{
  height:300px;
  width:300px;
  margin:10%;
  padding:3%;
  display:inline-block
}

.save-delete{
  display:flex;
  justify-content:space-between;  
}
.save{
  color:rgb(0, 30, 0);
  background-color:rgb(20, 130, 20);
  border: none;
  outline:none;
  height:40px;
  width:70px;
  font-size:1.25em;
  font-weight:800;
  border-radius: 10%;
}
.delete{
  color:rgb(30, 0, 0);
  background-color:rgb(130, 20, 20);
  border: none;
  outline:none;
  height:40px;
  width:70px;
  font-size:1.25em;
  font-weight:800;
  border-radius: 10%;
}
.delete-opinion{
  border-radius:50px;
  width: 60px;
  height:60px;
  margin-right:20px;
}
.delete-opinion:hover{
  color:rgb(114, 20, 20);
  background-color:rgb(50, 0, 0);
}
.save-delete button:first-of-type:hover{
  color:rgb(20, 114, 20);
  background-color:rgb(0, 50, 0);
}

.save-delete button:last-of-type:hover{
  color:rgb(114, 20, 20);
  background-color:rgb(50, 0, 0);
}

.side-nav{
  display: flex;
  flex-direction:row;
  height:100%;
  width:15%;
  justify-content: space-around;
  align-content:space-between;
  background-color: rgb(160, 142, 110);

}
.side-nav ul {
  width:80%;
  justify-items: center;
  height:100%;
  text-decoration:none;
  
}
.side-nav ul li {
  height:10%;
  margin-top:10%;
}
.side-nav button{
  width:100%;
  height:100%;
  justify-items: center;
  font-size: 2em;
  color: rgb(160, 142, 110);
  background-color: rgb(41, 16, 16);
  border-radius: 5%;
  border:1px solid rgb(160, 142, 110);
  outline:none
}
.side-nav button:hover{
  background-color: rgb(58, 45, 34);
  color:rgb(216, 162, 47);
}
.side-nav button:active{
  background-color: rgb(58, 45, 34);
  color:rgb(216, 162, 47);
}

.editable-box{
  display:flex;
  flex-direction:column;
  align-items:center;
  height:100%;
}
.editable-box p{
  margin: 10% 0;
}
.editable-box .form-section{
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  background-color: rgb(41, 16, 16);
  color: rgb(160, 142, 110);
  font-size: 1.5em
}

.form-under-buttons{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.form-under-buttons p{
  padding:3%;
  max-width:500px;
  font-weight:800;
  font-size:1.20em;
}
.project-component{
  height:100%;
  display:flex;
  width: 100%;
}
.project-component form{
  width:40%;
  display:flex;
  flex-direction:column;
  align-content:center;
  overflow: auto;
  padding: 3%;
  background-color: rgb(160, 142, 110);
}

.general-opinions{
  width:60%;
  padding: 3%;
  background-image: url('booksBackground.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}

.no-opinions{
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 5em;
  font-weight: 800;
  background-color: rgb(160, 142, 110);
  color: rgb(41, 16, 16);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:20px;
}
.no-opinions p{
 margin: 0 5%
}
.oneOpinion{
  color: rgb(41, 16, 16);
  border: rgb(41, 16, 16) 3px solid;
  background-color: rgb(160, 142, 110);
  border-radius: 20px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  height: 25%;
  align-items: center;
  margin: 7px 4px;
}


.oneOpinion p {
  margin:3%;
}
.oneOpinion button {
  margin-left:3px;
}
.oneOpinion p:nth-of-type(1){
  font-size: 1.20em;
  font-weight:300;
  font-style: italic;
}
.oneOpinion p:nth-of-type(2){
  font-size: 1.25em;
}
.oneOpinion p:nth-of-type(3){
  font-size: 4em;
  justify-self:flex-end;
}

.mainPage{
  overflow-y: scroll;
}

.project-comment-card{
  background-color:rgb(41, 16, 16);
  display:flex;
  padding: 2%;
  margin: 5%;
  max-height:250px;
  justify-content: space-around;
  border-radius: 20px;
}

.project-description{
  display:flex;
  flex-direction:column;
  align-content:center;
  width: 30%;
  overflow-y:scroll;
  border-radius: 20px;
  padding: 2%;
  background-color:rgb(160, 142, 110);

}
.project-comments{
  width: 63%;
  width: 63%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-description p:nth-of-type(1){
 
  font-weight:300;
  font-style: italic;
  
}
.project-description h3 {
  font-size: 1.20em;
  text-align:center;
}
.project-description p:nth-of-type(2){
  text-align:center;
}
.project-description p:nth-of-type(3){
  text-overflow: ellipsis;
  margin-top: 15px;
}


::-webkit-scrollbar {
  width: 20px;
  }
  
  ::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  border:black solid 3px;
  background-color:rgb(160, 142, 110);
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background:rgb(54, 56, 58); }

 
  .comments-only{
    overflow-y:scroll;
    height: 80%;
  }

  .add-comment{
    margin-top: 12px;
    display: flex;
    color: rgb(165, 161, 161);
    justify-content: space-around;
  }
  .add-comment input{
    background-color: rgb(168, 156, 133);
    border:none;
  }
  .add-comment input:nth-of-type(1){
    width:70px;
    border:none;
  }
  .add-comment label{
    font-size:2em;
    margin-left:20px;
  }
  .add-comment button{
    width: 55px;
    height: 33px;
    border-radius: 20px;
    font-size: 24px;
    background-color: rgb(20, 130, 20);
    color:rgb(0, 30, 0);
    border: none;
    outline:none;
  }
  .add-comment button:active{
    background-color: rgb(0, 30, 0);
    color:rgb(20, 130, 20);
  }
  
/* {
color:rgb(41, 16, 16);
color:rgb(58, 45, 34);
color:rgb(160, 142, 110);
color:rgb(216, 162, 47);
} */